@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.deck_container {
    position: relative;
}

@media (max-width: 450px) {
    .deck_container {
        position: relative;

        left: -1vw;
    }
}

@media (max-width: 375) {
    .scale_container {
        position: relative;

        margin-left: -50vw;
    }
}

.artist_card {
    position: absolute;
    right: 0px;
    outline: 2px solid red;
}

.results {
    text-align: center;
    font-family: 'Roboto';
}

.time_container {
    margin-top: 5vh;
}

.scale_container {
    margin-top: 100px;
    position: relative;
}