@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

#deck_container {
    position: relative;
}

@media (max-width: 1500px) {
    #deck_container {
        position: relative;
        margin-top: -10vh;
    }
}

@media (max-width: 1300px) {
    #deck_container {
        position: relative;
        margin-top: -20vh;
    }
    .created_with {
        margin-top: -5vh;
        position: relative;
    }
}

@media (max-width: 1000px) {
    #deck_container {
        position: relative;
        margin-top: -20vh;
    }
    .created_with {
        margin-top: -10vh;
        position: relative;
    }
}

@media (max-width: 800px) {
    #deck_container {
        position: relative;
        margin-top: -25vh;
    }
    
    .created_with {
        margin-top: -15vh;
        position: relative;
        font-size: .75em;
    }
}

@media (max-width: 600px) {
    #deck_container {
        position: relative;
        margin-top: -30vh;
    }
    .created_with {
        margin-top: -20vh;
        position: relative;
        font-size: .75em;
    }
}

@media (max-width: 450px) {
    #deck_container {
        position: relative;
        margin-top: -40vh;
        margin-left: -5vw;
    }
    .created_with {
        margin-top: -25vh;
        position: relative;
        font-size: .75em;
    }
}

@media (max-width: 370px) {
    #deck_container {
        position: relative;
        margin-top: -50vh;
        margin-left: -5vw;
    }
    .created_with {
        margin-top: -30vh;
        position: relative;
        font-size: .75em;
    }
}


.artist_card {
    position: absolute;
    right: 0px;
}

.results {
    text-align: center;
    font-family: 'Roboto';
}

.time_container {
    margin-top: 5vh;
}

.scale_container {
    margin-top: 100px;
    position: relative;
    z-index: 0;
}